SECRET_KEY=django-insecure--7q$jea1e1k9g-r#y!q^j*at3%lc9xk6a6&$)#bo+_*h7k)ovg
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,192.168.120.237

# DB_ENGINE=mysql OR sqlite
DB_ENGINE=mysql

DB_NAME=network_monitor
DB_USER=admin
DB_PASSWORD=admin123
DB_HOST=127.0.0.1
DB_PORT=3306
